<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <session-config>
      <session-timeout>1</session-timeout>
  </session-config>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>mechaverseServlet</servlet-name>
    <servlet-class>org.mechaverse.gwt.server.MechaverseGwtRpcServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>org.mechaverse.gwt.common.server.ManagerGwtRpcServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mechaverseServlet</servlet-name>
    <url-pattern>/MechaverseClient/service</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/MechaverseClient/manager</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mechaverseServlet</servlet-name>
    <url-pattern>/org.mechaverse.gwt.MechaverseClientJUnit/mechaverse</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.mechaverse.gwt.server.MechaverseGwtRpcServiceImpl</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>mechaverse.html</welcome-file>
  </welcome-file-list>

</web-app>
